body{
    display: flex;
    margin: 0 0 0 0;
    padding: none;
}

img{
    max-height: 55vw;
    min-width: 35vw;
}

form{
    background-color: white;
    box-shadow: 3px 3px 3px 1px lightgray;
    margin-left: -20px;
    
}

legend{
    margin-left: 20px;
}

input{
    max-width: 200px;
}

.form-left{
    display: flex;
    flex-direction: column;
}

.sidebar{
    display: flex;
}

.right-page{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 243, 243);
    padding-left: 20px;
}

.top-right{
    display: flex;
    flex-direction: column;
}