body{
    display: flex;
    margin: 0 0 0 0;
    padding: none;
}

img{
    max-height: 55vw;
    min-width: 35vw;
}

form{
    display: flex;
    background-color: white;
    box-shadow: 2px;
    
}

.sidebar{
    display: flex;
}

.right-page{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.top-right{
    display: flex;
    flex-direction: column;
}